@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #000;
}

button {
  cursor: pointer;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

.primaryColor {
  color: #661599;
  fill: #661599;
}

.primaryBg {
  background-color: #661599;
}

.secondaryColor {
  color: #d9baff;
  fill: #d9baff;
}

.secondaryBg {
  background-color: #d9baff;
}

.grayColor {
  color: #f1f5f9;
  fill: #f1f5f9;
}

.grayBg {
  background-color: #f1f5f9;
}

/* Styling untuk dropdown menu */
.dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: none;
  color: #611599;
  transition: all 0.3s ease-in-out;
}

.animate-dropdown {
  animation: slideDown 0.3s ease;
}

/* Styling untuk card agar lebih konsisten */
.detail-plant {
  margin-left: 250px !important; 
}

.detail-plant .card {
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: none;
  max-width: 100%; 
}

.detail-plant .carousel-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.detail-plant .carousel-control-prev,
.detail-plant .carousel-control-next {
  width: 5%;
}

.detail-plant .carousel-control-prev-icon,
.detail-plant .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 10px;
}

.detail-plant .carousel-control-prev {
  left: -2.5rem;
}

.detail-plant .carousel-control-next {
  right: -2.5rem;
}

.detail-plant .carousel-indicators [data-bs-target] {
  background-color: #6a0dad;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.detail-plant .carousel-indicators .active {
  background-color: #ff9800;
}

/* Responsivitas */
@media (max-width: 768px) {
  .detail-plant {
    margin-left: 20px; /* Kurangi margin pada layar kecil */
  }

  .detail-plant .card {
    width: 100%; /* Kartu menggunakan lebar penuh pada layar kecil */
  }
}

@media (min-width: 769px) {
  .detail-plant {
    margin-left: 340px; /* Sesuaikan margin untuk layar lebih besar */
  }
}

/* Add Plant */
.add-plant .hover-card {
  transition: transform 0.3s ease;
}

.add-plant .hover-card:hover {
  transform: scale(1.05); 
}

.add-plant .plant-card {
  transition: transform 0.3s ease; /* Smooth transition */
}

.add-plant .plant-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

/* Styling untuk indikator */

.planting-area .scrollable {
  max-height: 1000px;
  overflow-y: auto;
}

.planting-area .scrollable::-webkit-scrollbar {
  width: 6px;
}

.planting-area .scrollable::-webkit-scrollbar-thumb {
  background-color: #A855F7;
  border-radius: 3px;
}

.planting-area .scrollable::-webkit-scrollbar-track {
  background: #E5E7EB;
}

.planting-area .primaryBg {
  background-color: #661599;
}

.planting-area .border-outline {
  border-color: #661599;
}

.planting-area .input-with-icon {
  padding-left: 40px !important;
}

*{
  font-family: "Poppins", sans-serif;
}
:root {
  --mainColor: #661599;
  --secondaryColor: #b86abb;
  --thirdColor: #d9d9d9;
  --button-color: #661599;
  --badge-background: #FCB825;
  --progress-heart: #EB2222;
  --progress-star: #7297F6;
}

/* Profile Container */
.profile {
  background-color: #f0f4f8;
  color: #333;
}

/* Main Content */
.profile .content {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
  flex: 1;
}

/* Cards */
.profile .profile-card,
.profile .notification-card,
.profile .progress-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

.profile .progress-card,
.profile .notification-card {
  background-color: var(--secondaryColor);
}

/* Shared Card Image Styling */
.profile-card img,
.notification-card img,
.progress-card img {
  border-radius: 10px;
  margin-right: 50px;
}

/* Buttons */
.profile .btn-purple,
.profile button,
.card-tombol-mulai button {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  text-decoration-line: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile .btn-purple:hover,
.card-tombol-mulai button:hover {
  background-color: #560b85;
}

/* Badge Container Styles */
.badges-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badges-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

/* Individual Badge Styles */
.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.badge-image-wrapper {
  margin-top: -20px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
}

.badge-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.badge-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333;
  margin-right: 10px;
  margin: 0;
  margin-top: -10px;
}

/* Carousel */
.profile .carousel {
  max-width: 200px;
  width: 50%;
  margin: 0 auto;
}

.profile .carousel-inner {
  border-radius: 10px;
}

.profile .content h5 {
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.carousel-control-prev,
.carousel-control-next {
  color: inherit; 
  font-size: 2rem; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: none; 
  border: none; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.carousel-control-prev {
  left: -60px !important; 
}

.carousel-control-next {
  right: -60px !important; 
}

.carousel-control-prev .fa,
.carousel-control-next .fa {
  font-size: 1.5rem; 
}

.carousel-control-prev,
.carousel-control-next {
  border: 2px solid rgba(0, 0, 0, 0.2); 
}

/* Progress and Icons */
.profile .card-heart,
.profile .card-star,
.profile .card-coin {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.progress-long-heart,
.progress-long-star {
  position: relative;
  background-color: var(--thirdColor);
  border-radius: 5px;
  height: 25px;
  width: 200px; 
}

.progress-short-heart,
.progress-short-star {
  border-radius: 5px;
  height: 100%;
}

.progress-short-heart {
  background-color: var(--progress-heart);
}

.progress-short-star {
  background-color: var(--progress-star);
}

/* Icon and Coin Text Styling */
.icon-heart,
.icon-star,
.icon-coins {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.text-coins {
  margin-left: 5px;
  color: var(--badge-background);
  font-size: 21px;
}


/* Profile Card */
.card-profil {
  background-color: var(--thirdColor);
  width: 10rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
}

.card-body-profil {
  display: flex;
}

.card-title-notif {
  text-align: start;
}

.img-sayur {
  width: 3rem;
  border-radius: 5px;
  margin: 5px;
}

.text {
  margin: 5px;
  color: #fff;
  font-size: small;
}

/* Notifications */
.notification-card {
  background-color: #cda7ff !important;
  padding: 15px;
  border-radius: 8px;
  width: 100%; 
}

.notification-card h5 {
  color: black;
  margin-bottom: 10px;
}

.notif {
  padding: 10px 0;
  width: 100%;
  padding-right: 8px;
  max-height: 2240px; 
  overflow-y: auto; 
  scrollbar-gutter: stable; 
}

.notif-body {
  background-color: #661599;
  display: flex;
  flex-direction: row;
  align-items: center; 
  height: auto;
  margin-bottom: 10px; 
  padding: 12px;
  border-radius: 8px;
}


.notif-body img {
  margin-right: 10px; 
  border-radius: 50%; 
}

.notif-body p {
  margin: 0; 
  color: white;
}

.notif-body small {
  margin-top: 2px;
  display: block; 
  color: #e6e6e6; 
}

/* Kustomisasi scrollbar */
.notif::-webkit-scrollbar {
  width: 8px;
}

.notif::-webkit-scrollbar-thumb {
  background: #661599;
  border-radius: 8px;
}


/* CSS Landing Page */
.landing-page body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  color: #fff;
}

.landing-page h1,
.landing-page p {
  font-family: "Poppins", sans-serif !important;
}

/* Navbar */
.landing-page header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.landing-page header img {
  height: 40px;
}

.landing-page header nav {
  display: flex;
  gap: 15px;
}

.landing-page header nav a {
  color: #661599;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 5px;
}

.landing-page header nav a:hover {
  font-weight: bold;
}

.landing-page header .cta {
  display: flex;
  gap: 10px;
}

.landing-page header .cta a {
  background-color: #661599;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.landing-page header .cta a:last-child {
  margin-right: 0;
}

/* Home */
.landing-page .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 100vh;
  box-sizing: border-box;
}
.landing-page .hero .text {
  max-width: 50%;
}
.landing-page .hero .text h1 {
  color: #661599;
  font-size: 36px;
  margin-bottom: 20px;
}
.landing-page .hero .text p {
  color: #6b6b6b;
  font-size: 18px;
  margin-bottom: 20px;
}
.landing-page .hero .text a {
  background-color: #661599;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.landing-page .hero img {
  max-width: 40%;
}

/* Cara Kerja */
.landing-page .section {
  padding: 50px;
  text-align: center;
}
.landing-page .section h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}
.landing-page .section .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.landing-page .section .card {
  background-color: #661599;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 100%;
  text-align: center;
}
.landing-page .section .card img {
  max-width: 250px;
  margin-bottom: 20px;
}
.landing-page .section .card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #661599;
}
.landing-page .section .card p {
  font-size: 16px;
}

/* Fitur */
.feature-container {
  text-align: center;
  padding: 50px;
}
.feature-title {
  font-size: 38px !important;
  color: #661599;
  margin-bottom: 50px;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature-row {
  display: flex;
  gap: 20px;
}
.feature {
  background-color: #661599;
  border-radius: 20px;
  width: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.feature:nth-child(2),
.feature:nth-child(4) {
  background-color: #661599;
  color: #ffffff;
}
.feature img {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  margin: 0 auto;
}
.feature h3 {
  align-self: flex-start;
  font-size: 20px;
  color: #fff;
}
.feature p {
  font-size: 14px;
  color: #ffffff;
}
.hover-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #661599;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow-y: auto;
  will-change: transform;
}
.feature:hover .hover-text {
  display: block;
}
.hover-text::-webkit-scrollbar {
  display: none;
}
.preferences {
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preferences img {
  width: 300px;
}

/* Waktu Panen */
.harvest {
  background-color: #661599;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.harvest img {
  max-width: 40%;
  margin-left: 50px;
}
.harvest .text {
  max-width: 50%;
}
.harvest .text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}
.harvest .text p {
  font-size: 18px;
  color: #fff;
}

/* Download */
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 100vh;
  box-sizing: border-box;
}
.text-content {
  max-width: 50%;
}
.text-content h1 {
  font-size: 36px;
  color: #661599;
  margin-bottom: 20px;
}
.text-content p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
}
.google-play-button {
  display: flex;
  align-items: center;
  border: 2px solid #661599;
  border-radius: 8px;
  padding: 10px 10px;
  text-decoration: none;
  color: #661599;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  max-width: 150px;
}
.google-play-button img {
 margin-right: 5px;
}
.google-play-button i {
  margin-right: 10px;
  font-size: 20px;
}
.image-content img {
  max-width: 200px;
  border-radius: 20px;
}

/* Footer */
footer {
  background-color: #661599;
  color: white;
  padding: 20px 0;
  text-align: center;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer .container .logo {
  display: flex;
}
footer .logo img {
  width: 200px;
  margin-left: -40px;
  height: auto;
}
footer .container .logo .description {
  margin-left: 20px;
  text-align: left;
}
footer .container .logo .description h1 {
  font-size: 24px;
}
footer .container .logo .description p {
  margin: 5px 0 0;
  font-size: 14px;
}
footer .container .column {
  margin: 10px 0;
  text-align: left;
}
footer .container .column h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
footer .container .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .container .column ul li {
  margin: 5px 0;
}
footer .container .column ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
footer .social-icons {
  margin-top: 20px;
}
footer .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}
footer .bottom-bar {
  margin-top: 20px;
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: 12px;
}
footer .bottom-bar a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

/* Responsif untuk perangkat mobile */
@media (max-width: 768px) {
  .landing-page .hero {
    padding: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .landing-page .hero img {
    max-width: 70%;
    margin-top: 20px;
  }
  .landing-page .hero .text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .landing-page header {
    padding: 10px 15px;
    flex-direction: column;
    align-items: center;
  }
  .landing-page header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .landing-page header .cta {
    flex-direction: column;
  }
  .landing-page header .cta a {
    margin-top: 10px;
  }
  .landing-page .section .cards {
    flex-direction: column;
  }
  .landing-page .section .card {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .landing-page .section .card img {
    max-width: 200px;
  }
  .feature-container .content {
    flex-direction: column;
  }
  .feature-container .features {
    flex-direction: column;
  }
  .feature-row {
    flex-direction: column;
    align-items: center;
  }
  .feature {
    width: 90%;
    margin-bottom: 20px;
  }
  .harvest {
    flex-direction: column;
    text-align: center;
  }
  .harvest img {
    max-width: 60%;
    margin-top: 20px;
  }
  .download {
    flex-direction: column;
    padding: 50px;
  }
  .text-content {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .google-play-button {
    width: 100%;
    justify-content: center;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .container .logo {
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .container .column {
    text-align: center;
  }
  footer .social-icons {
    margin-top: 20px;
  }

  .notification-card {
    padding: 10px; 
  }
  .notif-body {
    flex-direction: column; 
    align-items: flex-start;
  }
  .notif-body img {
    margin-bottom: 8px;
  }
}


/* Responsif untuk perangkat mobile sangat kecil (smartphone) */
@media (max-width: 480px) {
  .landing-page header nav a {
    font-size: 14px;
  }
  .landing-page header .cta a {
    padding: 5px 15px;
    font-size: 14px;
  }
  .landing-page .hero h1 {
    font-size: 28px;
  }
  .landing-page .hero p {
    font-size: 16px;
  }
  .landing-page .section h2 {
    font-size: 28px;
  }
  .landing-page .section .card h3 {
    font-size: 20px;
  }
  .landing-page .section .card p {
    font-size: 14px;
  }
  .feature .feature-img {
    max-width: 150px;
    height: auto;
  }
  .feature h3 {
    font-size: 18px;
  }
  .feature p {
    font-size: 12px;
  }
  footer .container .column h3 {
    font-size: 16px;
  }
  footer .container .column ul li a {
    font-size: 12px;
  }
  footer .bottom-bar {
    font-size: 10px;
  }
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
