@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
// Color Variable
$primary-color: #661599;
$secondary-color: #d9baff;
$gray-color: #f1f5f9;

// Font Variable
$font-poppins: "Poppins", sans-serif;

// Todo Global Class
.fontPoppins {
  font-family: $font-poppins;
}

.primaryColor {
  color: $primary-color;
  fill: $primary-color;
}

.primaryBg {
  background-color: $primary-color;
}

.secondaryColor {
  color: $secondary-color;
  fill: $secondary-color;
}

.secondaryBg {
  background-color: $secondary-color;
}

.grayColor {
  color: $gray-color;
  fill: $gray-color;
}

.grayBg {
  background-color: $gray-color;
}

.hoverSidebar:hover {
  background-color: $secondary-color;
}

.activeSidebar:active {
  background-color: $secondary-color;
}

.hovercard {
    border: 1px solid transparent;
    
    &:hover {
        box-shadow: 5px 10px 32px -2px rgba(0, 0, 0, 0.51);
        -webkit-box-shadow: 5px 10px 32px -2px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: 5px 10px 32px -2px rgba(0, 0, 0, 0.51);
        border: 1px solid $primary-color;
        scale: 1.009;
        transition: all 0.2s ease-in-out;
      }
}
